<style>
    .login-form {
        margin-top:100px;
    }
</style>

    <h1>Login</h1>
    <form action="/login" method="post" class="login-form">
        <input type="text" name="username" value="huyhq">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
