<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>Post Read file</h3>
    <% posts.forEach(post => { %>
            <% if(post.user_id > 2){ %>
                <p> ID >2: <%= post.title %></p>
                <button>Click</button>
            <%} else{ %>
                <p><%= post.title %></p>
            <% } %> 
    <% }) %>
  </body>
</html>
