<div style="padding-top: 100px">
  <h3>Create User</h3>
</div>

<% if (error && error.length > 0) { %>
      <% error.forEach(element => { %>

        <p><%= element.message %></p>

      <% }) %>
<% } %>


<form action="/users/store" method="post" >
  <div class="form-control">
    <input
      class="form-control"
      type="text"
      name="name"
      value="<%= data?.name %>"
      placeholder="Enter name"
    />
  </div>
  <div class="form-control">
    <input
      class="form-control"
      type="text"
      name="email"
      value="<%= data?.email %>"
      placeholder="Enter email"
    />
  </div>
  <div class="form-control">
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <div class="form-control">
    <input
      class="form-control"
      type="number"
      name="age"
      value="<%= data?.age %>"
      placeholder="Enter age"
    />
  </div>
  <div class="form-control">
    <button type="submit">Submit</button>
  </div>
</form>
